<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="daniele.iterinteractive.it.discoverpalermo" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="landscape"
            android:theme="@style/FullscreenTheme" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity
            android:name=".ChooseModeActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_choose_mode"
            android:screenOrientation="landscape"
            android:theme="@style/FullscreenTheme" >
        </activity>
        <activity
            android:name=".Tappa1Activity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_single_map"
            android:screenOrientation="landscape"
            android:theme="@style/FullscreenTheme"
            android:noHistory="true">
        </activity>
        <activity
            android:name=".Discovery1Activity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_discovery1"
            android:screenOrientation="landscape"
            android:theme="@style/FullscreenTheme" >
        </activity>
        <activity
            android:name=".Tappa2Activity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_single_map"
            android:screenOrientation="landscape"
            android:theme="@style/FullscreenTheme"
            android:noHistory="true">
        </activity>
        <activity
            android:name=".Discovery2Activity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_discovery1"
            android:screenOrientation="landscape"
            android:theme="@style/FullscreenTheme" >
        </activity>
    </application>

</manifest>
